{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--<link rel="stylesheet" href="{% static '../static/css/login.css' %}">-->
    <link rel="stylesheet" href="{% static '../static/css/estilos.css' %}">
    <title>Mi Condominio</title>
</head>
<body>

    <!---------Menú---------->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="{% url 'index' %}" class="enlace">
            <img src="{%static '../static/img/otro.png'%}" alt="" class="logo">
        </a>
        <ul>
            <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
            <li><a href="{% url 'nosotros' %}">Quienes Somos</a></li>
            
        </ul>
    </nav>
    <!----------Formulario Login---------->
    <div class="form-content">
        <form action="">
            <h2>Iniciar Sesion</h2>
            <div class="input group">
                <div class="input-container">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Correo">
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Contraseña">
                </div>

                <input class="btn" type="submit" value="Aceptar">
            </div>
        </form>
        <div class="welcome">
            <h2>Bienvenido</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veniam exercitationem nobis nisi accusantium quisquam dolorum ea repellendus velit ut tempora ab nihil laudantium eum dicta,
                 aliquid incidunt nostrum consequatur esse!
            </p>
        </div>
    </div>
    
    <footer>
        <nav id="RedesSociales">
            <br>
        <h4>Redes Sociales</h4></a>
        <br>
            <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.instagram.com/"><img src="{%static '../static/img/icons8-instagram-48.png'%}" alt=""></a></button>
            <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.facebook.com/"><img src="{%static '../static/img/icons8-facebook-48.png'%}" alt=""></a></button>
            <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.twitter.com/"><img src="{%static '../static/img/icons8-twitter-48.png'%}" alt=""></a></button>
            <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.google.com/maps/place/Fosa+de+las+Marianas/@11.3493333,142.190811,15z/data=!4m13!1m7!3m6!1s0x67328f3cd57de715:0x1bbe64e7a21aa7fc!2sFosa+de+las+Marianas!3b1!8m2!3d11.3493126!4d142.1995658!3m4!1s0x67328f3cd57de715:0x1bbe64e7a21aa7fc!8m2!3d11.3493126!4d142.1995658"><img src="{%static '../static/img/icons8-logo-de-google-48.png'%}" alt=""></a></button>
            </nav>
        <br>
    </footer>
</body>
</html>