{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static '../static/css/estilos.css' %}">
    <title>Mi Condominio</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="{% url 'index' %}" class="enlace">
            <img src="{%static '../static/img/otro.png'%}" alt="" class="logo">
        </a>
        <ul>
            <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
            <li><a href="{% url 'nosotros' %}">Quienes Somos</a></li>
            
        </ul>
    </nav>

    <div class="login-form">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre", name="username">
            </div>
            <div class="form-group">
                <label for="">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña" name="password">
                
            </div>
            <button type="submit" type="passwor" class="btn btn-flat m-b-30 m-t-30">Iniciar Sesión</button>
        </form>
    </div>
   
</body>
</html>