* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Carrusel*/
.carruselimg, #container{
    height: 305px;
    width: 100%;
    object-fit: cover;
}

/*Servicios*/
#servicios{
    height: 305px;
    width: 98%;
}

.font{
        font: var(--font_2);
        color: rgb(var(--color_15));
        letter-spacing: 0em;
}

#xda{
    letter-spacing: 0.3em;
        line-height: normal;
        text-align: center;
        font-size: 34px;
}

.xd{
        border-color: rgba(var(--brd,var(--color_15)),var(--alpha-brd,1));
        size: var(--brw,1px);
        background-color: white;
}

.borde{
    background-color: var(--container-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));
    border: var(--container-corvid-border-width,var(--brw,1px)) solid var(--container-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));
    border-radius: var(--rd,5px);
    bottom: 0;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
    left: 0;
    position: relative;
    right: 0;
    top: 0;
}

/*Header*/
nav{
    padding-left: 140px;
    padding-right: 150px;
    height: 90px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

.logo {
    height: 50px;
    margin-left: 10px;
    position: center;
}

nav .navbar ul li{
    position: relative;
    float: left;
}

nav .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

nav .navbar ul li a:hover{
    background: #333;
    color: #ffff;
}

nav .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #ffff;
    display: none;
}

nav .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

nav .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

nav .navbar ul li:focus-within > ul,
nav .navbar ul li:hover > ul{
   display: initial; 
}

nav .logo{
    font-weight: bolder;
    height:  30px;
    color: #333;
}

#menu-bar{
    display: none;
}

nav label{
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media(max-width: 991px){
    nav{
        width: 100%;
    }
    nav label{
        display: initial;
    }
    nav .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
    nav .navbar ul li{
        width: 100%;
    }
    nav .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    nav .navbar ul li ul li{
        background: #eee;
    }
    nav .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}

#RedesSociales  {
    background-color: cadetblue;
    text-align: center;
    width: 100%;
    font-family: 'Lobster', cursive;
    margin-top: 100px;
    text-decoration: none;
    float: right;
    height: 150px;
    z-index: 10000;
}
