* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Carrusel*/
.carruselimg{
    border-radius: 5px;
    height: 305px;
    width: 100%;
    object-fit: cover;
}

/*Botones*/
.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 40px;
    background: black;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.boton span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton::after{
    content: "";
    width: 110%;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 40px);
    background: black;
    border-bottom: 50px solid rgb(21, 228, 131);
    border-right: 40px solid transparent;
    transition: .4s ease-in-out all;
}

.boton:hover::after{
    left: 0;
}

#paddingboton{
    padding-bottom: 15px;
}

/*Texto tarjetas*/

#espaciado{
    font: var(--font_2);
    letter-spacing: 0.3em;
    line-height: normal;
    text-align: center;
    font-size: 34px;
}

.borde{
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
}

.borde.boton{
    align-items: center;
}

/*Textos*/
p{
    position: relative;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 75px;
    width: 80%;
}


/*Header*/
nav{
    padding-left: 140px;
    padding-right: 150px;
    height: 90px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
    overflow-x: hidden;
}

.logo {
    height: 50px;
    margin-left: 10px;
    position: center;
}

nav .navbar ul li{
    position: relative;
    float: left;
}

nav .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

nav .navbar ul li a:hover{
    background: #333;
    color: #ffff;
}

nav .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #ffff;
    display: none;
}

nav .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

nav .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

nav .navbar ul li:focus-within > ul,
nav .navbar ul li:hover > ul{
   display: initial; 
}

nav .logo{
    font-weight: bolder;
    height:  30px;
    color: #333;
}

#menu-bar{
    display: none;
}

nav label{
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media(max-width: 991px){



    nav{
        width: 100%;
    }
    nav label{
        display: initial;
    }
    nav .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
    nav .navbar ul li{
        width: 100%;
    }
    nav .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    nav .navbar ul li ul li{
        background: #eee;
    }
    nav .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}

#RedesSociales  {
    background-color: cadetblue;
    text-align: center;
    width: 100%;
    font-family: 'Lobster', cursive;
    margin-top: 100px;
    text-decoration: none;
    float: right;
    height: 150px;
    z-index: 10000;
}
